div.App {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

div.App > div.panel {
    margin: 1rem;
    box-shadow: 0 8px 16px #0005;
}

div.App div.faded {
    opacity: .5;
}
